In [47]:
# for getting the data from the API 
# first step to create the account to that website where you want to get the data
#search like TMDB API'S on google and copy append url with key 
# the API's key you will get at the same website in the setting tab::

#Note:: there are massive number of data is available but i extracted only of first 100 pages if we want more we only have 
#to run the code 500 times:

In [14]:
import pandas as pd

In [4]:
import requests

In [5]:
## the columns that we are selecting to extract here::
#1)Popularity
#2)vote count
#3)orignal language
#4)title
#5)vote avg
#6)overview
#7)release date

In [10]:
##  this is only 100 page data in the website till there 500+ pages are there:
for j in range(1,100):
    response=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=1e0abc1f4bb5f5024da033cec3b8a2e2&language=en-US&page={}'.format(j)).json()

In [11]:
response=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=1e0abc1f4bb5f5024da033cec3b8a2e2&language=en-US&page=1').json()

In [12]:
response["results"]

[{'adult': False,
  'backdrop_path': '/1X7vow16X7CnCoexXh4H4F2yDJv.jpg',
  'genre_ids': [80, 18, 36],
  'id': 466420,
  'original_language': 'en',
  'original_title': 'Killers of the Flower Moon',
  'overview': 'When oil is discovered in 1920s Oklahoma under Osage Nation land, the Osage people are murdered one by one—until the FBI steps in to unravel the mystery.',
  'popularity': 1323.647,
  'poster_path': '/dB6Krk806zeqd0YNp2ngQ9zXteH.jpg',
  'release_date': '2023-10-18',
  'title': 'Killers of the Flower Moon',
  'video': False,
  'vote_average': 7.6,
  'vote_count': 1472},
 {'adult': False,
  'backdrop_path': '/zIYROrkHJPYB3VTiW1L9QVgaQO.jpg',
  'genre_ids': [28, 35],
  'id': 897087,
  'original_language': 'en',
  'original_title': 'Freelance',
  'overview': 'An ex-special forces operative takes a job to provide security for a journalist as she interviews a dictator, but a military coup breaks out in the middle of the interview, they are forced to escape into the jungle where they must survive.',
  'popularity': 1243.624,
  'poster_path': '/7Bd4EUOqQDKZXA6Od5gkfzRNb0.jpg',
  'release_date': '2023-01-05',
  'title': 'Freelance',
  'video': False,
  'vote_average': 6.5,
  'vote_count': 320},
 {'adult': False,
  'backdrop_path': '/r1eCvALF6fN7anVYL8Zn7PaceD1.jpg',
  'genre_ids': [35, 10751, 14],
  'id': 787699,
  'original_language': 'en',
  'original_title': 'Wonka',
  'overview': 'Willy Wonka – chock-full of ideas and determined to change the world one delectable bite at a time – is proof that the best things in life begin with a dream, and if you’re lucky enough to meet Willy Wonka, anything is possible.',
  'popularity': 1119.142,
  'poster_path': '/6UktQYe7ZCAh3sSXthSyKJliLMy.jpg',
  'release_date': '2023-12-06',
  'title': 'Wonka',
  'video': False,
  'vote_average': 7.316,
  'vote_count': 309},
 {'adult': False,
  'backdrop_path': '/k1KrbaCMACQiq7EA0Yhw3bdzMv7.jpg',
  'genre_ids': [16, 10751, 10402, 14, 35],
  'id': 901362,
  'original_language': 'en',
  'original_title': 'Trolls Band Together',
  'overview': "When Branch's brother, Floyd, is kidnapped for his musical talents by a pair of nefarious pop-star villains, Branch and Poppy embark on a harrowing and emotional journey to reunite the other brothers and rescue Floyd from a fate even worse than pop-culture obscurity.",
  'popularity': 968.8,
  'poster_path': '/bkpPTZUdq31UGDovmszsg2CchiI.jpg',
  'release_date': '2023-10-12',
  'title': 'Trolls Band Together',
  'video': False,
  'vote_average': 7.175,
  'vote_count': 374},
 {'adult': False,
  'backdrop_path': '/9PqD3wSIjntyJDBzMNuxuKHwpUD.jpg',
  'genre_ids': [16, 35, 10751],
  'id': 1075794,
  'original_language': 'en',
  'original_title': 'Leo',
  'overview': 'Jaded 74-year-old lizard Leo has been stuck in the same Florida classroom for decades with his terrarium-mate turtle. When he learns he only has one year left to live, he plans to escape to experience life on the outside but instead gets caught up in the problems of his anxious students — including an impossibly mean substitute teacher.',
  'popularity': 899.34,
  'poster_path': '/pD6sL4vntUOXHmuvJPPZAgvyfd9.jpg',
  'release_date': '2023-11-17',
  'title': 'Leo',
  'video': False,
  'vote_average': 7.616,
  'vote_count': 592},
 {'adult': False,
  'backdrop_path': '/tLsc8SCFO0rMVgVyNm9XtfnyX84.jpg',
  'genre_ids': [18, 9648, 53, 878],
  'id': 726209,
  'original_language': 'en',
  'original_title': 'Leave the World Behind',
  'overview': "A family's getaway to a luxurious rental home takes an ominous turn when a cyberattack knocks out their devices—and two strangers appear at their door.",
  'popularity': 879.694,
  'poster_path': '/29rhl1xopxA7JlGVVsf1UHfYPvN.jpg',
  'release_date': '2023-11-22',
  'title': 'Leave the World Behind',
  'video': False,
  'vote_average': 6.579,
  'vote_count': 855},
 {'adult': False,
  'backdrop_path': '/fm6KqXpk3M2HVveHwCrBSSBaO0V.jpg',
  'genre_ids': [18, 36],
  'id': 872585,
  'original_language': 'en',
  'original_title': 'Oppenheimer',
  'overview': "The story of J. Robert Oppenheimer's role in the development of the atomic bomb during World War II.",
  'popularity': 836.976,
  'poster_path': '/8Gxv8gSFCU0XGDykEGv7zR1n2ua.jpg',
  'release_date': '2023-07-19',
  'title': 'Oppenheimer',
  'video': False,
  'vote_average': 8.1,
  'vote_count': 5458},
 {'adult': False,
  'backdrop_path': '/tB59fpPnQITgnfxPfMf2gxASTeC.jpg',
  'genre_ids': [28, 53, 18],
  'id': 656156,
  'original_language': 'ko',
  'original_title': '보호자',
  'overview': "After 10 years of incarceration on behalf of his employer, all Su-hyuk wants is a normal life - one he hopes will include his former girlfriend, Min-seo, and their daughter, In-bi. But once you've penetrated the upper echelons of the underworld, normal can prove hard to come by. Sometime in the past decade, meanwhile, Su-hyuk's employer has adopted an air of legitimacy. These days, the old gang steal and murder in the name of urban development. And they want the reluctant Su-hyuk on board.",
  'popularity': 823.253,
  'poster_path': '/ePwZs1oOh4pg8UZP8DuVZZeIn89.jpg',
  'release_date': '2023-08-15',
  'title': 'A Man of Reason',
  'video': False,
  'vote_average': 6.5,
  'vote_count': 30},
 {'adult': False,
  'backdrop_path': '/AucuqDaUW4z1oT5XyL71qwRY2F6.jpg',
  'genre_ids': [27, 53],
  'id': 983507,
  'original_language': 'no',
  'original_title': 'Meg, deg & Frank',
  'overview': "Christian - a millionaire heir, meets Sigrid - a young student, on a dating app. They hit it off quickly, but there's only one problem: Christian lives with Frank, a man who dresses up and constantly acts like a dog.",
  'popularity': 780.142,
  'poster_path': '/9DPG1gxLwV2oyFdHq3SnISsWbse.jpg',
  'release_date': '2022-06-03',
  'title': 'Good Boy',
  'video': False,
  'vote_average': 6.734,
  'vote_count': 107},
 {'adult': False,
  'backdrop_path': '/kjQBrc00fB2RjHZB3PGR4w9ibpz.jpg',
  'genre_ids': [28, 12, 18],
  'id': 670292,
  'original_language': 'en',
  'original_title': 'The Creator',
  'overview': 'Amid a future war between the human race and the forces of artificial intelligence, a hardened ex-special forces agent grieving the disappearance of his wife, is recruited to hunt down and kill the Creator, the elusive architect of advanced AI who has developed a mysterious weapon with the power to end the war—and mankind itself.',
  'popularity': 724.409,
  'poster_path': '/vBZ0qvaRxqEhZwl6LWmruJqWE8Z.jpg',
  'release_date': '2023-09-27',
  'title': 'The Creator',
  'video': False,
  'vote_average': 7.125,
  'vote_count': 1483},
 {'adult': False,
  'backdrop_path': '/sxmazOtNWi6IiZ1QqG0wkliHzgA.jpg',
  'genre_ids': [27, 53],
  'id': 762079,
  'original_language': 'fr',
  'original_title': 'Le Calendrier',
  'overview': 'Eva, an ex-dancer, is now living in a wheelchair, unable to walk. When her friend Sophie gives her an old wooden antique advent calendar before Christmas, she realizes each window contains a surprise that triggers repercussions in real life: some of them good, but most of them bad... Now Eva will have to choose between getting rid of the calendar or walking again… even if it causes death around her.',
  'popularity': 723.15,
  'poster_path': '/psaYUHDotafhVNAE1pZN2GkRXJY.jpg',
  'release_date': '2021-12-01',
  'title': 'The Advent Calendar',
  'video': False,
  'vote_average': 6.649,
  'vote_count': 239},
 {'adult': False,
  'backdrop_path': '/rb3QQ2TQfJoCpCZlfXBlBbzYy1D.jpg',
  'genre_ids': [53, 28],
  'id': 844416,
  'original_language': 'en',
  'original_title': 'Rumble Through the Dark',
  'overview': 'Set in the dark landscape of the Mississippi Delta, where a former bare-knuckle fighter must win one last fight to pay off his debts to the local mob boss and save his childhood home—the stakes nothing less than life or death.',
  'popularity': 701.8,
  'poster_path': '/19UbYIT9WEQS5qSD3BREDxVXk8g.jpg',
  'release_date': '2023-11-03',
  'title': 'Rumble Through the Dark',
  'video': False,
  'vote_average': 6.7,
  'vote_count': 23},
 {'adult': False,
  'backdrop_path': '/ixhr0YVs0Du0fPIYQSYYOIf3j0R.jpg',
  'genre_ids': [878, 28],
  'id': 854648,
  'original_language': 'en',
  'original_title': 'Robot Apocalypse',
  'overview': 'An expert hacker is targeted by a sentient AI after she realizes the threat it poses, and she must try to stay off its radar long enough to stop it.',
  'popularity': 692.968,
  'poster_path': '/zpbgktIR7GkOS83PBAzLlzLSQ5W.jpg',
  'release_date': '2021-07-26',
  'title': 'Robot Apocalypse',
  'video': False,
  'vote_average': 5.968,
  'vote_count': 63},
 {'adult': False,
  'backdrop_path': '/sERD1155J1cJyXug1QwlA0fa354.jpg',
  'genre_ids': [14],
  'id': 995906,
  'original_language': 'en',
  'original_title': 'Galaxy Games',
  'overview': 'A group of young adults are sent to a faraway planet to compete in the prestigious Sol Invictus games. When disaster strikes and the teams are stranded without equipment or communication, they must work together to survive long enough to be rescued.',
  'popularity': 683.757,
  'poster_path': '/8aoIMYZUu8DRrJFkDvz13rehSFL.jpg',
  'release_date': '2022-07-04',
  'title': 'Galaxy Games',
  'video': False,
  'vote_average': 5.5,
  'vote_count': 4},
 {'adult': False,
  'backdrop_path': '/uOvcyJ3XmUv4geypGvZBeZEFMO6.jpg',
  'genre_ids': [28, 80, 18],
  'id': 945937,
  'original_language': 'en',
  'original_title': 'Fast Charlie',
  'overview': 'When his aging mob boss is whacked, Charlie Swift, a loyal friend and hired gun, will stop at nothing to destroy the upcoming crew that took him out.',
  'popularity': 682.109,
  'poster_path': '/3y72ffwYRUPOj4yOQbiTaN897Tm.jpg',
  'release_date': '2023-12-08',
  'title': 'Fast Charlie',
  'video': False,
  'vote_average': 6.309,
  'vote_count': 34},
 {'adult': False,
  'backdrop_path': '/4XM8DUTQb3lhLemJC51Jx4a2EuA.jpg',
  'genre_ids': [28, 80, 53],
  'id': 385687,
  'original_language': 'en',
  'original_title': 'Fast X',
  'overview': "Over many missions and against impossible odds, Dom Toretto and his family have outsmarted, out-nerved and outdriven every foe in their path. Now, they confront the most lethal opponent they've ever faced: A terrifying threat emerging from the shadows of the past who's fueled by blood revenge, and who is determined to shatter this family and destroy everything—and everyone—that Dom loves, forever.",
  'popularity': 681.59,
  'poster_path': '/fiVW06jE7z9YnO4trhaMEdclSiC.jpg',
  'release_date': '2023-05-17',
  'title': 'Fast X',
  'video': False,
  'vote_average': 7.199,
  'vote_count': 4482},
 {'adult': False,
  'backdrop_path': '/t5zCBSB5xMDKcDqe91qahCOUYVV.jpg',
  'genre_ids': [27, 9648],
  'id': 507089,
  'original_language': 'en',
  'original_title': "Five Nights at Freddy's",
  'overview': "Recently fired and desperate for work, a troubled young man named Mike agrees to take a position as a night security guard at an abandoned theme restaurant: Freddy Fazbear's Pizzeria. But he soon discovers that nothing at Freddy's is what it seems.",
  'popularity': 668.805,
  'poster_path': '/7BpNtNfxuocYEVREzVMO75hso1l.jpg',
  'release_date': '2023-10-25',
  'title': "Five Nights at Freddy's",
  'video': False,
  'vote_average': 7.824,
  'vote_count': 2873},
 {'adult': False,
  'backdrop_path': '/jhpsTzbXEu5bkCPmBqxv7vUTjIT.jpg',
  'genre_ids': [14, 12, 878, 28],
  'id': 566810,
  'original_language': 'en',
  'original_title': 'Dragon Kingdom',
  'overview': 'To save their Kingdom from an army of undead, a group of warriors must travel through the forbidden lands fighting the fearsome beasts that call The Dark Kingdom their home.',
  'popularity': 620.372,
  'poster_path': '/o7StI2iR8yY1N67meSkNcXfojyD.jpg',
  'release_date': '2018-11-26',
  'title': 'The Dark Kingdom',
  'video': False,
  'vote_average': 5.7,
  'vote_count': 41},
 {'adult': False,
  'backdrop_path': '/evxXVJtomJJbAXcDxF6wsCJzVDe.jpg',
  'genre_ids': [27],
  'id': 1019836,
  'original_language': 'en',
  'original_title': 'Christmas Bloody Christmas',
  'overview': "It's Christmas Eve and Tori just wants to get drunk and party, but when a robotic Santa Claus at a nearby toy store goes haywire and begins a rampant killing spree through her small town, she's forced into a battle for survival.",
  'popularity': 602.845,
  'poster_path': '/97PaQ7r4H3y0x9RTXusfedmzf86.jpg',
  'release_date': '2022-10-05',
  'title': 'Christmas Bloody Christmas',
  'video': False,
  'vote_average': 5.609,
  'vote_count': 152},
 {'adult': False,
  'backdrop_path': '/rMvPXy8PUjj1o8o1pzgQbdNCsvj.jpg',
  'genre_ids': [28, 12, 53],
  'id': 299054,
  'original_language': 'en',
  'original_title': 'Expend4bles',
  'overview': 'Armed with every weapon they can get their hands on and the skills to use them, The Expendables are the world’s last line of defense and the team that gets called when all other options are off the table. But new team members with new styles and tactics are going to give “new blood” a whole new meaning.',
  'popularity': 567.672,
  'poster_path': '/iwsMu0ehRPbtaSxqiaUDQB9qMWT.jpg',
  'release_date': '2023-09-15',
  'title': 'Expend4bles',
  'video': False,
  'vote_average': 6.4,
  'vote_count': 899}]

In [15]:
## this is example how do we make the data frame from the dictionaty:
d={"name":["Rahul","Rohit"] , "Age":[30,40]}

df=pd.DataFrame(d)

In [16]:
df

    name  Age
0  Rahul   30
1  Rohit   40

In [17]:
## you need to understand each and every thing deeply man here go back the same process::
for i in response["results"]:
    print(i["title"])

Killers of the Flower Moon
Freelance
Wonka
Trolls Band Together
Leo
Leave the World Behind
Oppenheimer
A Man of Reason
Good Boy
The Creator
The Advent Calendar
Rumble Through the Dark
Robot Apocalypse
Galaxy Games
Fast Charlie
Fast X
Five Nights at Freddy's
The Dark Kingdom
Christmas Bloody Christmas
Expend4bles

In [18]:
Popularity=[]
Vote_count=[]
Original_language=[]
Title=[]
Vote_average=[]
Overview=[]
Release_date=[]

## you need to understand each and every thing deeply man here go back the same process::
for i in response["results"]:
    Popularity.append(i["popularity"])
    Vote_count.append(i["vote_count"])
    Original_language.append(i["original_language"])
    Title.append(i["title"])
    Vote_average.append(i["vote_average"])
    Overview.append(i["overview"])
    Release_date.append(i["release_date"])
    
d={"Title":Title ,"Overview":Overview , "Release_date":Release_date,"Popularity":Popularity,"Vote_count":Vote_count,"Original_language":Original_language,"Vote_average":Vote_average}
    
df=pd.DataFrame(d)

In [19]:
df

,Title,Overview,Release_date,Popularity,Vote_count,Original_language,Vote_average
0,Killers of the Flower Moon,When oil is discovered in 1920s Oklahoma under...,2023-10-18,1323.647,1472,en,7.600
1,Freelance,An ex-special forces operative takes a job to ...,2023-01-05,1243.624,320,en,6.500
2,Wonka,Willy Wonka – chock-full of ideas and determin...,2023-12-06,1119.142,309,en,7.316
3,Trolls Band Together,"When Branch's brother, Floyd, is kidnapped for...",2023-10-12,968.800,374,en,7.175
4,Leo,Jaded 74-year-old lizard Leo has been stuck in...,2023-11-17,899.340,592,en,7.616
5,Leave the World Behind,A family's getaway to a luxurious rental home ...,2023-11-22,879.694,855,en,6.579
6,Oppenheimer,The story of J. Robert Oppenheimer's role in t...,2023-07-19,836.976,5458,en,8.100
7,A Man of Reason,After 10 years of incarceration on behalf of h...,2023-08-15,823.253,30,ko,6.500
8,Good Boy,"Christian - a millionaire heir, meets Sigrid -...",2022-06-03,780.142,107,no,6.734
9,The Creator,Amid a future war between the human race and t...,2023-09-27,724.409,1483,en,7.125
10,The Advent Calendar,"Eva, an ex-dancer, is now living in a wheelcha...",2021-12-01,723.150,239,fr,6.649
11,Rumble Through the Dark,Set in the dark landscape of the Mississippi D...,2023-11-03,701.800,23,en,6.700
12,Robot Apocalypse,An expert hacker is targeted by a sentient AI ...,2021-07-26,692.968,63,en,5.968
13,Galaxy Games,A group of young adults are sent to a faraway ...,2022-07-04,683.757,4,en,5.500
14,Fast Charlie,"When his aging mob boss is whacked, Charlie Sw...",2023-12-08,682.109,34,en,6.309
15,Fast X,Over many missions and against impossible odds...,2023-05-17,681.590,4482,en,7.199
16,Five Nights at Freddy's,"Recently fired and desperate for work, a troub...",2023-10-25,668.805,2873,en,7.824
17,The Dark Kingdom,"To save their Kingdom from an army of undead, ...",2018-11-26,620.372,41,en,5.700
18,Christmas Bloody Christmas,It's Christmas Eve and Tori just wants to get ...,2022-10-05,602.845,152,en,5.609
19,Expend4bles,Armed with every weapon they can get their han...,2023-09-15,567.672,899,en,6.400

In [20]:
final=pd.DataFrame()

for j in range(1,50): ## we have to do the 500
    response=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=1e0abc1f4bb5f5024da033cec3b8a2e2&language=en-US&page={}'.format(j)).json()
    
    Popularity=[]
    Vote_count=[]
    Original_language=[]
    Title=[]
    Vote_average=[]
    Overview=[]
    Release_date=[]

    ## you need to understand each and every thing deeply man here go back the same process::
    for i in response["results"]:
        Popularity.append(i["popularity"])
        Vote_count.append(i["vote_count"])
        Original_language.append(i["original_language"])
        Title.append(i["title"])
        Vote_average.append(i["vote_average"])
        Overview.append(i["overview"])
        Release_date.append(i["release_date"])

    d={"Title":Title ,"Overview":Overview , "Release_date":Release_date,"Popularity":Popularity,"Vote_count":Vote_count,"Original_language":Original_language,"Vote_average":Vote_average}

    df=pd.DataFrame(d)
    
    final=final.append(df,ignore_index=True)

C:\Users\MD Shahbaz\AppData\Local\Temp\ipykernel_21216\1888467009.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)

In [21]:
final

,Title,Overview,Release_date,Popularity,Vote_count,Original_language,Vote_average
0,Killers of the Flower Moon,When oil is discovered in 1920s Oklahoma under...,2023-10-18,1323.647,1472,en,7.600
1,Freelance,An ex-special forces operative takes a job to ...,2023-01-05,1243.624,320,en,6.500
2,Wonka,Willy Wonka – chock-full of ideas and determin...,2023-12-06,1119.142,309,en,7.316
3,Trolls Band Together,"When Branch's brother, Floyd, is kidnapped for...",2023-10-12,968.800,374,en,7.175
4,Leo,Jaded 74-year-old lizard Leo has been stuck in...,2023-11-17,899.340,592,en,7.616
...,...,...,...,...,...,...,...
975,Apocalypto,"Set in the Mayan civilization, when a man's id...",2006-12-07,61.770,5139,en,7.572
976,Kingdom of the Planet of the Apes,Several generations in the future following Ca...,2024-05-22,89.746,0,en,0.000
977,The Foreigner,Quan is a humble London businessman whose long...,2017-09-28,57.520,2436,en,6.970
978,Trading Places,A snobbish investor and a wily street con-arti...,1983-06-07,59.049,2979,en,7.204
979,American Pie,"At a high-school party, four friends find that...",1999-07-09,77.742,7237,en,6.575

In [30]:
## Top rated title of the movie baased on the Popularity:
final[["Title","Popularity"]].groupby("Popularity").max().sort_values(by="Popularity",ascending=False)

                                 Title
Popularity
1323.647    Killers of the Flower Moon
1243.624                     Freelance
1119.142                         Wonka
968.800           Trolls Band Together
899.340                            Leo
...                                ...
48.138                       Limitless
47.745                           Bambi
44.122           Underworld: Evolution
44.119            Ant-Man and the Wasp
41.704                          Amélie

[970 rows x 1 columns]

In [31]:
## Top rated title of the movie baased on the Vote_count:
final[["Title","Vote_count"]].groupby("Vote_count").max().sort_values(by="Vote_count",ascending=False)

                                    Title
Vote_count
34893                           Inception
33114                        Interstellar
31070                     The Dark Knight
30129                              Avatar
29446                        The Avengers
...                                   ...
4                     Society of the Snow
3                      The Mercator Trail
2           Trees and Other Entanglements
1                           The Harbinger
0                              Your Fault

[820 rows x 1 columns]

In [33]:
## Top rated title of the movie baased on the Vote_average:
final[["Title","Vote_average"]].groupby("Vote_average").max().sort_values(by="Vote_average",ascending=False)

                                     Title
Vote_average
10.000                       The Harbinger
9.000                          Poor Things
8.900         Aquaman and the Lost Kingdom
8.708                        The Godfather
8.707             The Shawshank Redemption
...                                    ...
3.000                            White Sky
2.000                     Agent Jade Black
1.500                           Dad or Mom
1.000                     A Taste of Blood
0.000                           Your Fault

[726 rows x 1 columns]

In [37]:
final["Release_date"]=pd.to_datetime(final["Release_date"])

In [38]:
final["year"]=final["Release_date"].dt.year

In [46]:
## No of movie release yearly :
final[["Title","year"]].groupby("year").count().sort_values(by="Title",ascending=False)

        Title
year
2023.0    253
2022.0    112
2021.0     67
2017.0     42
2014.0     41
2019.0     39
2018.0     38
2015.0     36
2016.0     29
2020.0     26
2010.0     24
2012.0     23
2013.0     20
2007.0     17
2009.0     17
2004.0     16
2011.0     15
2006.0     13
2008.0     11
2001.0     10
2005.0     10
1998.0      8
1994.0      8
1999.0      8
2003.0      8
2000.0      8
2002.0      7
2024.0      7
1995.0      6
1997.0      5
1983.0      5
1993.0      4
1988.0      4
1989.0      3
1992.0      3
1990.0      3
1991.0      2
1986.0      2
1985.0      2
1984.0      2
1977.0      2
1976.0      2
1971.0      2
1966.0      2
1996.0      2
1937.0      1
1939.0      1
1987.0      1
1979.0      1
1978.0      1
1974.0      1
1973.0      1
1972.0      1
1968.0      1
1950.0      1
1946.0      1
1942.0      1
1941.0      1
2025.0      1

In [ ]:
## like this will be saving inot the dictionry:
original_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

# Empty dictionary to store the copy
new_dict = {}

# Using a for loop to copy the contents
for key, value in original_dict.items():
    new_dict[key] = value